h1{
text-align: center;
margin : 7em 0 0 0 ;
}

h2{
color: black;
text-decoration: underline;
}

.image{
border-radius:50%;
height: 18em;	
width:  15em;
margin: 2em 10em 10em 10em;
}

p{
color: MediumBlue;
}

.left{
float:left; 
width:50%;
}

.right{
float:right; 
width:50%;
}


body{
background-color: PaleTurquoise;
}

.introduction-section{
 font-family: cursive;
}

.hobbies-section{
 margin-top: 32em;
 margin-left: 35em;
 font-family: cursive;
 color: red;
}

.skill-section, .contact-section{
margin-top: 5em;	
margin-left: 35em;
font-family: cursive;
color: red;

}

.list {
 list-style-type: circle;

}

.navigation{
background-color: Teal; 
padding-top: 10px;
padding-bottom: 10px;
border: 2px solid Black;
}

.navigation a {
    color: White;
    padding-right: 20px;
    text-decoration: none;
    font-size: 20px;
}

